html {
    height: 100%;
}

body {
    width: 100%;
    background-image: url(https://anzuj.github.io/czocha/pattern.png);
    background-attachment: scroll;
    background-repeat: repeat;
    font-family: 'Poppins', serif;
}

h1 {
    font-size: 4em !important;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Girassol', serif !important;
}

.yeartext,
.pathtext {
    margin-bottom: -0.6rem !important;
    font-family: "Merriweather", serif;
}

.container.main {
    width: 60% !important;
    max-width: 600px;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fceed2ff&noise=3d3b3d&density=15&opacity=15");
    text-align: center;
    padding-bottom: 3%;
    
}


#classResult {
    visibility: hidden;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.5rem;
}

#intro {
    visibility: visible;
    margin-top: 160px; 
    font-family: "Merriweather", serif;
}

.time {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: -8px;
}


.location {
    font-size: 1rem;
    font-family:"Segoe UI", sans-serif;
    color: gray;
    margin-top: -2%;
    font-weight: 350;
}

.separator {
    margin-bottom: -6px;
    font-size: 0.8rem;
    padding: 2%;
    color: gray;
}


.lesson {
    margin-bottom: -10px;
    font-weight: 500;
    color: rgb(52, 58, 85);
    font-family: 'Girassol', serif !important;
}

#lunch-wrapper {
    background-color: rgba(250, 245, 235, 0.808);
    width: 70%;
    margin: 0 auto;

}


i {
    display: block;
    font-size: 2rem;
}


/* buttons */
.btn:focus {
    background-color: #8D69AD;
}

.btn:hover {
    background-color: rgb(94, 88, 98);
}

.btn {
    width: 190px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    font-family: 'Unica One', sans-serif; 
    font-size: 1.3rem !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #8D69AD !important;
}


/* making content better on mobile */
@media only screen and (max-width: 600px) {
    .container.main {
        width: 100% !important;  
    }

    .btn {
        width: 140px !important;
        font-size: 1rem !important;
    }

    #intro {
        font-size: 1rem !important;
    }

    #classResult {
        font-size: 1.2rem !important;
    }

    h1 {
        font-size: 2em !important;
    }

}
